<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/calendar</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="job.bespalov.logic.TablenamespaceEntity"/>
      <mapping class="job.bespalov.logic.ValuesTableEntity"/>
    <mapping class="job.bespalov.logic.ArderEntity"/>

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>